@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");
body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.main {
    margin-left: 300px;
    max-width: calc(100% - 300px);
}
.wrapper {
    position: relative;
}
.sidebar {
    height: 100vh;
    padding: 1.5rem;
    background-color: #fff;
    height: 100vh;
    background: #fffffe;
    box-shadow: 0 -12px 25px -12px rgb(0 0 0 / 0.25);
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 300px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #1a1d20;
    height: 6rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navbar-brand:hover {
    color: #29aee6;
}

.navbar-brand span {
    color: #0a58ca;
}

.nav-item .nav-link {
    padding: 0.8rem;
    font-weight: 500;
    color: #1a1d20;
    font-size: 1rem;
    border-radius: 0.6rem;
    border: none;
    margin-bottom: 0.5rem;
}

.nav-link:hover {
    color: #fff;
    background-color: #29aee6;
    border-radius: 0.5rem;
    border: none;
}

.nav-link.active {
    background-color: #29aee6;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
}
/* Sidebar End */

/* Main */
.top-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb-wrapper {
    display: flex;
    align-items: center;
}

.breadcrumb-heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.breadcrumb-date {
    display: inline-block;
    font-size: 1rem;
    color: #000000;
    font-weight: 500;
}

.profile-wrapper {
    display: flex;
    align-items: center;
}

.profile-name {
    display: inline-block;
    font-size: 1rem;
    color: #000000;
    font-weight: 500;
}
/* Main End */

.card {
    border-radius: 1rem;
    border: none;
}

.card.current-balance {
    border: none;
    background-color: #2d74fb;
    color: #fff;
    padding: 4rem 3rem 4rem 2rem;
}

.card.current-balance .title {
    font-size: 2rem;
}

.card.current-balance .card-text {
    font-size: 2rem;
}

.card.income,
.card.outcome {
    border: none;
    padding: 0.6rem;
}

.card.category {
    border: none;
}

.card.overview {
    border: none;
}

.card.topup {
    border: none;
    color: #fff;
    padding: 4.5rem 3rem 4rem 2rem;
}

.card.withdraw {
    border: none;
    background-color: orange;
    color: #fff;
    padding: 4.5rem 2rem 4rem 2rem;
}

.card.topup .title,
.card.withdraw .title {
    font-size: 1rem;
}

.card.topup .card-text,
.card.withdraw .card-text,
.card.qr-pay .card-text {
    font-size: 1.55rem;
}

.card.topup:hover,
.card.withdraw:hover,
.card.qr-pay:hover {
    cursor: pointer;
    opacity: 0.8;
}
